/* keeps form from bunching up to left */
@media all and (min-width:501px){
    div.wrapper form{
        margin-left:22.8px;
        

    }
}


    ul.topnav li a.selected {
        		background-color: darkgrey;
        		color:#effec4;
        }
        


        label, input {
            display: inline-block;
            color: grey;
        }
        
        label {
            margin-bottom: 20px;
            margin-top: 20px;
            color: grey;
        }

        fieldset {
            color:grey;
        }

