
/* My WEB120 Portal Website Styles */

* {
    font-family: sans-serif;
}

html {
    background-color:#effec4;
}

main.wrapper {
    background-color:#effec4;
    overflow:auto;
}

h1>a {
    text-decoration: none;
    color:grey;
}

p {
    clear:both;
    margin-top: 10px;
}

img {
    margin-bottom: 20px;
}

.logo {
    color:grey;
    margin-left:1%;
    text-shadow:1px 1px #effec4;
    font-size:1.25em;
}

/* Embed Responsively Rules! */
div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 98%;
} 

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
	clear:both;
}

/* START RESPONSIVE STYLES */

/* DESKTOP */
@media all and (min-width:1400px) {
	
   main.wrapper {
		width:80%;
		margin:auto;
       clear:both;
	}

    section {
		width:65%;
		float:left;
	}
	
     aside {	
		width:34%;
		float:right;
	}
			
    img.desktop {
      		float:left;
       		width:100%;
            display:block;
    }
    
    img.tablet, img.phone {
       	display:none;
    	}  
    
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        		background-color: darkgrey;
        		color:#effec4;
   	 }
}


/* TABLET */
@media all and (min-width:737px) and (max-width:1399px) {
	
	section {
		width:60%;
		float:left;
	}
	
	aside {	
		width:39%;
		float:right;
	}
	
    img.tablet {
       		width:100%;
            display:inline-block;
    }
    
    img.desktop, img.phone {
       	display:none;
    	}  
    
    
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        background-color: #FFFACD;
        color: #008080;
    }
}

/* PHONE */
@media all and (max-width:736px) {
    
    img.phone {
       		width:100%;
            display:inline-block;
    }
    
    img.tablet, img.desktop {
       	display:none;
    	}  

}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;color:#002b36;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;color:black;}
.tg .tg-ycr8{background-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-m9r4{background-color:#ffffc7;text-align:left;vertical-align:top}

.tg  {border-collapse:collapse;border-spacing:0;border-color:#93a1a1;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#93a1a1;color:#002b36;background-color:#fdf6e3;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#93a1a1;color:#fdf6e3;background-color:#657b83;}
.tg .tg-ycr8{background-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-fb1z{background-color:#ffffc7;color:#002b36;text-align:left;vertical-align:top}
.tg .tg-m9r4{background-color:#ffffc7;text-align:left;vertical-align:top}
.tg .tg-7937{background-color:#ffffff;color:#002b36;text-align:left;vertical-align:top}
